@charset "utf-8";
/* CSS Document */

.materialdesign .adminpro-custon-design .panel-heading,
.materialdesign .nav-tabs.custom-menu-wrap li a,
.sparkline-hd,
.smart-sparkline-hd,
.sparkline7-hd,
.sparkline8-hd,
.sparkline9-hd,
.sparkline10-hd,
.sparkline11-hd,
.sparkline12-hd,
.sparkline13-hd,
.sparkline14-hd,
.sparkline15-hd,
/*.sparkline16-hd*/

    {
    background: #fff;
}

.nav-tabs>li {
    float: left;
    margin-bottom: 5px !important;
    background: none;
    /*margin-left: 7px;*/
    margin-left: -2px;
}

/*.fixed-header-top .btn {
	padding: 6px 12px !important;
}*/

#PaymentProcessed {
    margin-top: 10%;
}

.materialdesign .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:hover,
.materialdesign .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:focus,
.materialdesign .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:active,
.materialdesign .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:visited {
    /*background: #e9f2fb !important;*/
    /*--------------- comment by SP 6.10.22-------------------*/
    background-image: linear-gradient(to bottom, #b57e15, #c08818, #ca931b, #d59d1f, #dfa822);
    /*--------------- added by SP 6.10.22-------------------*/
}

.materialdesign #sidebar .sidebar-header,
.materialdesign #sidebar,
.materialdesign .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li .left-menu-dropdown {
    /*background-color: #13212E;*/
    /*background-color: #fff;
	background: url('../img/sidebar-4.jpg') !important;*/
}

.materialdesign #sidebar {
    /*background: url('../img/sidebar-4.jpg') !important;*/
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.materialdesign #sidebar .sidebar-header,
.materialdesign #sidebar,
.materialdesign .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li .left-menu-dropdown {
    /*background: url(../img/sidebar-4.jpg) !important;*/
}

.materialdesign #sidebar .sidebar-header {
    background-color: transparent !important;
    /*************PG added 14.12.2022 logo bg transpernt****************************/
}

.materialdesign #sidebar {
    /*background: url(../img/sidebar-4.jpg) !important;*/
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    /*background: url(../img/sidebar-4.jpg) !important; */
    /*----------------- added bySP 6.10.22---------------------*/
    background-size: cover !important;
    /*************PG added 14.12.2022****************************/
}

.materialdesign .header-drl-controller-btn.btn-info {
    background: transparent !important;
    border: 2px solid #666 !important;
    border-radius: 10px !important;
    border: none !important;
}

.table>thead>tr>th,
table.dataTable thead th,
table.dataTable tfoot th,
#footerResponsive {
    /*background-color: #f1f1f1 !important;*/
}

.btn-primary {
    /*background-image: linear-gradient(to bottom, #2d8dae, #26809f, #1f7391, #186682, #105a74) !important;*/
    background-image: linear-gradient(to bottom, #b57e15, #c08818, #ca931b, #d59d1f, #dfa822) !important;
    /*---------------- added by SP 6.10.22----------------------------*/
}

.btn-warning {
    color: #ffffff !important;
    background-image: linear-gradient(to bottom, #ae0808, #ba1717, #c62224, #d22d31, #de373e);
    /**********bug no 62359 added by PG 22.12.2022*********/
    /*border-radius: 5px !important;*/
    /*------------ comment by SP 6.10.22-----------------------*/
    /* background-color:  #d58512 !important;
	border-color: #d58512 !important;*/
    /* background-image: linear-gradient(to bottom, #b57e15, #c08818, #ca931b, #d59d1f, #dfa822);*/
    /*---------------- added by SP 6.10.22----------------------------*/
}

.materialdesign .header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:hover {
    color: #ffffff !important;
    /*#34495eText Color*/
    background-color: #004d7a !important;
}

#MemPanelPosition .active {
    color: #ffffff !important;
    /*#34495eText Color*/
    background-color: #004d7a !important;
}

.nav-item .fa-6x {
    font-size: 0.8em !important;
}

/**********************Dashboard css start*********************************/

#requiedRegisterAttricSymbol {
    margin-left: -5%;
}

.materialdesign .header-right-info ul.header-right-menu li .author-log {
    background: #1e7694 !important;
}

.header-right-info .admin-name {
    color: #000 !important;
}

ul.header-right-menu>li>a {
    color: #fff !important;
}

.header-top-menu .navbar-nav>li>a,
.header-right-info ul.header-right-menu>li>a {
    color: #333 !important;
}

.header-right-info .author-project-icon {
    color: #000 !important;
}

.btn-info {
    color: #fff !important;
}

.btn-info i {
    color: #fff !important;
}

.btn-xs {
    /*background-color: #043252 !important;*/
}

.navbar-btn i {
    color: #000 !important;
}

.fixed-header-top {
    /*background-color: #ececec !important;*/
    /* background-color: #95a4b5 !important;*/
    /*background-image: linear-gradient(to right, #8ea1b5, #95a8b9, #9dafbe, #a5b6c2, #adbdc7) !important*/
    ;
    /*background-image: linear-gradient(to right, #717e8e, #778491, #7c8995, #838f98, #89949c) !important;*/
}

.view-file-in {
    background-color: transparent !important;
    text-align: left !important;
}

.materialdesign #sidebar {
    /*box-shadow: none !important;*/
}

.bar-button-pro {
    margin: 13px 1px 0px 27px !important;
}

.fixed-header-top {
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.20) !important;*/
    box-shadow: none !important;
}

/*.sparkline16-graph, .sparkline16-graph {
	background: transparent !important;
}*/

.business-graph {
    /*background: url('../img/businessgraph.png') !important;*/
    /*------------ comment by SP 6.10.22----------------------*/
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat !important;
    background-color: #fff !important;
    /*background-color: #fbffe5  !important;*/
}

.panel {
    margin-bottom: 40px;
    background-color: transparent !important;
    border-radius: 5px !important;
    /*box-shadow: 0 0px 10px 0px rgba(69,65,78,0.3) !important;*/
}

.panel-heading {
    padding: 15px 15px !important;
    /*border-top-left-radius: 50px !important;*/
    /* border-top-right-radius: 10px !important;*/
}

.panel-footer {
    padding: 9px 15px !important;
    /*background-color: #cbf3aea3 !important;*/
    background-color: #fff !important;
    border-top: 0px solid #ddd !important;
    /*border-bottom: 3px solid #00bf72 !important;*/
    /*border-bottom-right-radius: 50px !important;*/
    /* border-bottom-left-radius: 10px !important;*/
}

.panel-primary>.panel-heading {
    color: #444 !important;
    background: #FFF !important;
}

.huge h3 {
    font-weight: 600;
}

a {
    color: #00446c;
}

.header-top-area {
    background-color: transparent !important;
    box-shadow: none !important;
}

.materialdesign .sidebar-header h3 {
    color: #000 !important;
    font-weight: bold;
}

.materialdesign .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a,
.materialdesign .adminpro-custon-design .admin-panel-content p {
    /*color: #ffffff !important;*/
    color: #000 !important;
}

.welcome-text {
    color: #fff !important;
    font-weight: bold;
}

/*<!--.materialdesign .header-drl-controller-btn.btn-info {
   
	background: transparent !important;
	border-radius: 10px;
	border: 2px solid #666 !important;
}-->*/

/***********table css****************/

.table tr:hover {
    background-color: rgba(0, 0, 0, .045) !important;
}

.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, .045) !important;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    /*border: 1px solid #e9ecef;*/
    border: none;
}

/*.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: transparent!important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: transparent !important
}*/

/***********Idwise downline css****************/

/***********table css end****************/

@media screen and (max-width: 700px) {
    .view-file-in {
        background-color: transparent !important;
        text-align: center !important;
    }
}

@media (min-width: 480px) and (max-width: 980px) {
    #requiedRegisterAttricSymbol {
        width: 5px !important;
        float: left !important;
        margin-left: 0 !important;
    }
}

@media (min-width: 320px) and (max-width: 980px) {
    #PaymentProcessed {
        margin-top: -5% !important;
    }
    ul.message-menu,
    ul.notification-menu {
        height: 230px;
        /*margin-left: 18%;*/
    }
    .RegTextalign {
        width: 90% !important;
        padding-right: 0 !important;
        float: left !important;
    }
    .fixed-header-top {
        /* background-color: #fff !important;*/
        /* background-color: #95a4b5 !important;*/
        /*background: url(../img/sidebar-4.jpg) !important;*/
        background-size: cover !important;
        width: 100% !important;
        /*height:100px; AJS*/
        /*background-color: #909dae  !important;
	background-image: none !important;*/
    }
    .fixed-header-top .container-fluid {
        /*height:100px!important;AJS*/
    }
    .fixed-header-top .container-fluid .row {
        /*height:100px!important;AJS*/
    }
}

@media screen and (max-width: 480px) {
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd {
        background: #fff;
        /*background-image: linear-gradient(to right top, #00446c, #00bf72, #a8eb12) !important;*/
        border-radius: 10px 10px 0 0;
        padding: 10px 5px !important;
        font-weight: bold;
        /*border-bottom: 3px solid #00bf72;*/
    }
}

@media screen and (max-width: 400px) {
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd {
        background: #fff;
        /*background-image: linear-gradient(to right top, #00446c, #00bf72, #a8eb12) !important;*/
        border-radius: 10px 10px 0 0;
        padding: 10px 5px !important;
        font-weight: bold;
        /*border-bottom: 3px solid #00bf72;*/
    }
}

/************************Dashboard css end*****************************************************/

/******************************common header & menu section**********************************************/

@media screen and (max-width: 1024px) {
    .view-file-in {
        background-color: transparent !important;
        text-align: center !important;
        height: 40px !important;
    }
    .panel h5 {
        font-size: 0.9em;
    }
}

@media (min-width: 1024px) and (max-width: 1024px) {
    #PaymentProcessed {
        margin-top: 15% !important;
    }
}

@media (min-width: 320px) and (max-width: 980px) {
    .fixed-header-top {
        /* background-color: #fff !important;*/
        /* background-color: #95a4b5 !important;*/
        /*background: url(../img/sidebar-4.jpg) !important;*/
        background-size: cover !important;
        width: 100% !important;
        /*background-color: #909dae  !important;
	background-image: none !important;*/
    }
    .dashboard-collapse {
        padding-left: 15px !important;
    }
    .dashboard-margin {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 800px) {
    .container {
        padding-top: 0px !important;
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 8px !important;
    }
    .container {
        width: 384px;
    }
    /*.mean-container .mean-bar {
		right: 174px;
	}

	.mean-container .mean-bar {
		right: 160px !important;
	}

	.mean-container .mean-bar {
		top: -45px !important;
	}*/
}

@media screen and (max-width: 768px) {
    .header-right-info .navbar-nav {
        padding: 0.763em 0em;
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 14px !important;
    }
    .container {
        width: 384px;
    }
    /*.mean-container .mean-bar {
		right: 160px !important;
	}

	.mean-container .mean-bar {
		top: -45px !important;
	}*/
    .mobile-menu-area {
        background-color: transparent;
    }
}

@media screen and (max-width: 700px) {
    /*.mean-container .mean-bar {
		right: 160px !important;
	}

	.mean-container .mean-bar {
		top: -45px !important;
	}*/
    /*
	.view-file-in {
		background-color: transparent !important;
		text-align: center !important;
	}
 
	.header-right-info .navbar-nav {
		padding: 0.763em 0.5em;
	}

	.header-right-info ul.header-right-menu li {
		margin-left: 0px;
	}
	/*icon, .sparkline16-outline-icon1{
		top: 123px !important;
	}*/
}

/*@media screen and (max-width: 660px) {
	.mean-container .mean-bar {
		right: 107px !important;
	}

	.mean-container .mean-bar {
		top: -47px !important;
	}
}*/

@media screen and (max-width: 600px) {
    .header-right-info ul.header-right-menu li .author-log {
        position: absolute;
        z-index: 999999999999 !important;
    }
    .header-right-info ul.header-right-menu li .dropdown-header-top.author-log {
        width: 150px !important;
        padding: 10px 0px;
    }
    .header-right-info ul.header-right-menu li .author-log {
        left: -60px !important;
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 21px !important;
    }
    /*.mean-container .mean-bar {
		top: -47px !important;
	}

	.mean-container .mean-bar {
		right: 112px !important;
	}*/
    .container {
        width: 320px !important;
    }
}

@media screen and (max-width: 570px) {
    .nav-tabs>li {
        width: 98%;
    }
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd {
        text-align: center;
    }
    .header-right-info .navbar-nav {
        bottom: 0px !important;
        text-align: center;
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 30px !important;
    }
}

@media screen and (max-width: 480px) {
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd {
        background: #fff;
        /*background-image: linear-gradient(to right top, #00446c, #00bf72, #a8eb12) !important;*/
        border-radius: 10px 10px 0 0;
        padding: 10px 5px !important;
        font-weight: bold;
        text-align: center;
        /*border-bottom: 3px solid #00bf72;*/
    }
    #allPanelshow .sparkline16-graph {
        margin-bottom: 0em !important;
    }
    /*.mean-container .mean-bar {
		right: 78px !important;
	}

	.mean-container .mean-bar {
		top: -45px !important;
	}*/
    .nav-tabs>li {
        width: 98%;
    }
    .header-right-info ul.header-right-menu li .author-log {
        position: absolute;
        z-index: 999999999999 !important;
    }
}

@media screen and (max-width: 415px) {
    /*.mean-container .mean-bar {
		top: -93px !important;
	}

	.mean-container .mean-bar {
		right: 23px !important;
	}*/
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 13px !important;
    }
    .view-file-in {
        background-color: transparent !important;
        text-align: center !important;
        height: 50px !important;
    }
}

@media screen and (max-width: 400px) {
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd {
        background: #fff;
        /*background-image: linear-gradient(to right top, #00446c, #00bf72, #a8eb12) !important;*/
        border-radius: 10px 10px 0 0;
        padding: 10px 5px !important;
        font-weight: bold;
        /*border-bottom: 3px solid #00bf72;*/
    }
    /*.mean-container .mean-bar {
		right: 8px !important;
	}

	.mean-container .mean-bar {
		top: -95px !important;
	}*/
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 10px !important;
    }
}

/*@media screen and (max-width: 360px) {
	.mean-container .mean-bar {
		top: -91px !important;
	}
}

@media screen and (max-width: 320px) {
	.mean-container .mean-bar {
		top: -91px !important;
	}
}*/

@media screen and (max-width: 280px) {
    .view-file-in {
        background-color: transparent !important;
        text-align: right !important;
    }
    /*.mean-container .mean-bar {
		top: -135px !important;
	}

	.mean-container .mean-bar {
		right: 10px !important;
	}*/
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 3px !important;
    }
}

/*@media (max-width: 280px) {
	.mean-container .mean-bar {
		top: -115px !important;
	}
}*/

.nav-item .fa-6x {
    font-size: 1.5em !important;
}

/**********************Dashboard css start*********************************/

#requiedRegisterAttricSymbol {
    margin-left: -5%;
}

.materialdesign .header-right-info ul.header-right-menu li .author-log {
    background: #fff !important;
}

.header-right-info .admin-name {
    color: #000 !important;
}

ul.header-right-menu>li>a {
    color: #fff !important;
}

.header-top-menu .navbar-nav>li>a,
.header-right-info ul.header-right-menu>li>a {
    color: #333 !important;
}

.header-right-info .author-project-icon {
    color: #000 !important;
}

.btn-info {
    color: #fff !important;
}

.btn-info i {
    color: #fff !important;
}

.btn-xs {
    /*background-color: #043252 !important;*/
}

.navbar-btn i {
    color: #000 !important;
    font-size: 1.3em;
}

.fixed-header-top {
    /*background-color: #ececec !important;*/
    /* background-color: #95a4b5 !important;*/
    /*background-image: linear-gradient(to right, #8ea1b5, #95a8b9, #9dafbe, #a5b6c2, #adbdc7) !important*/
    ;
    /*background-image: linear-gradient(to right, #717e8e, #778491, #7c8995, #838f98, #89949c) !important;*/
}

.view-file-in {
    background-color: transparent !important;
    text-align: left !important;
}

.materialdesign #sidebar {
    /*box-shadow: none !important;*/
}

.bar-button-pro {
    margin: 13px 1px 0px 27px !important;
}

.fixed-header-top {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20) !important;
    /*box-shadow: none !important;*/
    /*-------------- comment by SP 6.10.22-------------------------*/
}

/*.sparkline16-graph, .sparkline16-graph {
	background: transparent !important;
}*/

.business-graph {
    /*background: url('../img/businessgraph.png') !important;*/
    /*-------------- comment by SP 6.10.22-------------------------*/
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat !important;
    background-color: #fff !important;
    /*background-color: #fbffe5  !important;*/
}

.panel {
    margin-bottom: 40px;
    background-color: transparent !important;
    border-radius: 5px !important;
    /*box-shadow: 0 0px 10px 0px rgba(69,65,78,0.3) !important;*/
}

.panel-heading {
    padding: 15px 15px !important;
    /*border-top-left-radius: 50px !important;*/
    /* border-top-right-radius: 10px !important;*/
}

.panel-footer {
    padding: 9px 15px !important;
    /*background-color: #cbf3aea3 !important;*/
    background-color: #fff !important;
    border-top: 0px solid #ddd !important;
    /*border-bottom: 3px solid #00bf72 !important;*/
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.panel-primary>.panel-heading {
    color: #444 !important;
    background: #FFF !important;
}

.huge h3 {
    font-weight: 600;
}

a {
    color: #00446c;
}

.header-top-area {
    background-color: transparent !important;
    box-shadow: none !important;
}

.materialdesign .sidebar-header h3 {
    /*color: #fff !important;*/
    font-weight: bold;
}

.materialdesign .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a,
.materialdesign .adminpro-custon-design .admin-panel-content p {
    /*color: #ffffff;*/
    /*color: #000 !important;*/
}

.welcome-text {
    color: #fff !important;
    font-weight: bold;
}

/*<!--.materialdesign .header-drl-controller-btn.btn-info {
   
	background: transparent !important;
	border-radius: 10px;
	border: 2px solid #666 !important;
}-->*/

/***********table css****************/

.table tr:hover {
    background-color: rgba(0, 0, 0, .045) !important;
}

.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, .045) !important;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    /*border: 1px solid #e9ecef;*/
    border: none;
}

/*.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: transparent!important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: transparent !important
}*/

/***********Idwise downline css****************/

/***********table css end****************/

@media screen and (max-width: 700px) {
    .view-file-in {
        background-color: transparent !important;
        text-align: center !important;
    }
}

@media (min-width: 320px) and (max-width: 980px) {
    .RegTextalign {
        width: 90% !important;
        padding-right: 0 !important;
        float: left !important;
    }
    #requiedRegisterAttricSymbol {
        width: 5px !important;
        float: left !important;
        margin-left: 0 !important;
    }
    .fixed-header-top {
        /* background-color: #fff !important;*/
        /* background-color: #95a4b5 !important;*/
        /*background: url(../img/sidebar-4.jpg) !important;*/
        background-size: cover !important;
        width: 100% !important;
        /*background-color: #909dae  !important;
	background-image: none !important;*/
    }
}

@media screen and (max-width: 480px) {
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd {
        background: #fff;
        /*background-image: linear-gradient(to right top, #00446c, #00bf72, #a8eb12) !important;*/
        border-radius: 10px 10px 0 0;
        padding: 10px 5px !important;
        font-weight: bold;
        /*border-bottom: 3px solid #00bf72;*/
    }
}

@media screen and (max-width: 400px) {
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd {
        background: #fff;
        /*background-image: linear-gradient(to right top, #00446c, #00bf72, #a8eb12) !important;*/
        border-radius: 10px 10px 0 0;
        padding: 10px 5px !important;
        font-weight: bold;
        /*border-bottom: 3px solid #00bf72;*/
    }
}

/************************Dashboard css end*****************************************************/

/******************************common header & menu section**********************************************/

@media screen and (max-width: 1024px) {
    .view-file-in {
        background-color: transparent !important;
        text-align: center !important;
        height: 40px !important;
    }
    .panel h5 {
        font-size: 0.9em;
    }
}

@media (min-width: 320px) and (max-width: 980px) {
    .fixed-header-top {
        /* background-color: #fff !important;*/
        /* background-color: #95a4b5 !important;*/
        /*background: url(../img/sidebar-4.jpg) !important;*/
        background-size: cover !important;
        width: 100% !important;
        /*background-color: #909dae  !important;
	background-image: none !important;*/
    }
    .dashboard-collapse {
        padding-left: 15px !important;
    }
    .dashboard-margin {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 800px) {
    .container {
        padding-top: 0px !important;
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 8px !important;
    }
    .container {
        width: 384px;
    }
    /*.mean-container .mean-bar {
		right: 174px;
	}
	.mean-container .mean-bar {
	   right:160px !important;
	}
	.mean-container .mean-bar {
		top: -45px !important;
	}*/
}

@media screen and (max-width: 768px) {
    .header-right-info .navbar-nav {
        padding: 0.763em 0em;
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 14px !important;
    }
    .container {
        width: 384px;
    }
    /*.mean-container .mean-bar {
	   right:160px !important;
	}
	.mean-container .mean-bar {
		top: -45px !important;
	}*/
    /*
   
	.materialdesign .admin-dashone-data-table-area {
		margin-top: 1% !important;
	}*/
    /*icon, .sparkline16-outline-icon1{
		top: 21px !important;
	}*/
    .mobile-menu-area {
        background-color: transparent;
    }
}

@media screen and (max-width: 700px) {
    /*.mean-container .mean-bar {
	   right:160px !important;
	}
	.mean-container .mean-bar {
		top: -45px !important;
	}*/
    /*
	.view-file-in {
		background-color: transparent !important;
		text-align: center !important;
	}

   
	.header-right-info .navbar-nav {
		padding: 0.763em 0.5em;
	}

	.header-right-info ul.header-right-menu li {
		margin-left: 0px;
	}
	/*icon, .sparkline16-outline-icon1{
		top: 123px !important;
	}*/
}

/*@media screen and (max-width: 660px) {
	.mean-container .mean-bar {
	   right:107px !important;
	}
	.mean-container .mean-bar {
		top: -47px !important;
	   
	}
}*/

@media screen and (min-width: 480px) and (max-width: 660px) {
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd,
    .sparkline16-hd,
    .sparkline17-hd {
        text-align: center;
    }
}

/*@media screen and  (min-width: 480px) and (max-width: 660px) {
	.sparkline13-hd {
	margin-top: 100px;     
	}
}
@media screen and  (min-width: 320px) and (max-width: 359px) {
	.sparkline13-hd {
	margin-top: -40px;     
	}
}
@media screen and  (min-width: 321px) and (max-width: 360px) {
	.sparkline13-hd {
	margin-top: 100px;     
	}
}*/

@media screen and (max-width: 600px) {
    .header-right-info ul.header-right-menu li .author-log {
        position: absolute;
        z-index: 999999999999 !important;
    }
    .header-right-info ul.header-right-menu li .dropdown-header-top.author-log {
        width: 150px !important;
        padding: 10px 0px;
    }
    .header-right-info ul.header-right-menu li .author-log {
        left: -60px !important;
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 21px !important;
    }
    /*.mean-container .mean-bar {
		top: -47px !important;
	}

	.mean-container .mean-bar {
		right: 112px !important;
	}*/
    .container {
        width: 320px !important;
    }
}

@media screen and (max-width: 570px) {
    .nav-tabs>li {
        width: 98%;
    }
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd {
        text-align: center;
    }
    .header-right-info .navbar-nav {
        bottom: 0px !important;
        text-align: center;
    }
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 30px !important;
    }
}

@media screen and (max-width: 480px) {
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd,
    .sparkline16-hd,
    .sparkline17-hd {
        background: #f5f5f5;
        /*background-image: linear-gradient(to right top, #00446c, #00bf72, #a8eb12) !important;*/
        border-radius: 10px 10px 0 0;
        padding: 10px 5px !important;
        font-weight: bold;
        text-align: center;
        /*border-bottom: 3px solid #00bf72;*/
    }
    #allPanelshow .sparkline16-graph {
        margin-bottom: 0em !important;
    }
    /*.mean-container .mean-bar {
		right: 78px !important;
	   
	}
	.mean-container .mean-bar {
	top: -45px !important;
	}*/
    .nav-tabs>li {
        width: 98%;
    }
    .header-right-info ul.header-right-menu li .author-log {
        position: absolute;
        z-index: 999999999999 !important;
    }
}

@media screen and (max-width: 415px) {
    /*.mean-container .mean-bar {
		top: -93px !important;
	}
	.mean-container .mean-bar {
		right: 23px !important;
	   
	}*/
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 13px !important;
    }
    .view-file-in {
        background-color: transparent !important;
        text-align: center !important;
        height: 50px !important;
    }
}

@media screen and (max-width: 400px) {
    .materialdesign .adminpro-custon-design .panel-heading,
    .materialdesign .nav-tabs.custom-menu-wrap li a,
    .sparkline-hd,
    .smart-sparkline-hd,
    .sparkline7-hd,
    .sparkline8-hd,
    .sparkline9-hd,
    .sparkline10-hd,
    .sparkline11-hd,
    .sparkline12-hd,
    .sparkline13-hd,
    .sparkline14-hd,
    .sparkline15-hd {
        background: #f5f5f5;
        /*background-image: linear-gradient(to right top, #00446c, #00bf72, #a8eb12) !important;*/
        border-radius: 10px 10px 0 0;
        padding: 10px 5px !important;
        font-weight: bold;
        /*border-bottom: 3px solid #00bf72;*/
    }
    /*.mean-container .mean-bar {
		right: 8px !important;
	}

   .mean-container .mean-bar {
	top: -95px !important;
}*/
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 10px !important;
    }
}

/*@media screen and (max-width: 360px) {
.mean-container .mean-bar {
	top: -78px !important;
}
}
@media screen and (max-width: 320px) {
.mean-container .mean-bar {
	top: -91px !important;
}
}*/

@media screen and (max-width: 280px) {
    .view-file-in {
        background-color: transparent !important;
        text-align: right !important;
    }
    /*.mean-container .mean-bar {
		top: -135px !important;
	}

	.mean-container .mean-bar {
		right: 10px !important;
	}*/
    .header-right-info ul.header-right-menu>li>a {
        padding: 0px 0px 0px 3px !important;
    }
}

/*@media (max-width: 280px) {
	.mean-container .mean-bar {
		top: -115px !important;
	}
}*/

/***************** AJS CODE FOR TOP HEADER START ******************/

.mean-container .mean-nav {
    width: 270px !important;
}

header {
    width: 100%;
    position: fixed;
    z-index: 99;
    display: block;
    /*VW for MR not  overlapping**/
    /*background-color:#e0e0e0;*/
    /*end  VW**/
    /*padding: 0 15px;*/
    left: 0;
    height: 50px !important;
    /*background: url(../img/body-bg.jpg)!important;*/
    /**********added by PG  for mobile view header bg 15.12.2022************************/
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%) !important;
    /**********added by PG  for mobile view header bg 15.12.2022************************/
    background-color: #ffffff;
}

@media (min-width: 1000px) {
    header {
        position: relative !important;
    }
    .fixed-header-top .btn {
        padding: 6px 12px !important;
        margin: 7px 0 0 0 !important;
    }
    .ltHdr {
        width: 10% !important;
        padding-left: 25px !important;
    }
    .mdHdr {
        /*text-align: left !important;*/
    }
    .materialdesign {
        overflow-x: hidden;
    }
}

.ltHdr {
    width: 15%;
    float: left;
}

.mdHdr {
    width: 75%;
    /*width: 100%;*/
    /*************PG added css for bug no- 55029  13.10.2022****************************************/
    float: left;
    padding: 0 10px;
    text-align: center;
}

.label-for-check i {
    font-size: 0.6em;
}

.label-for-check {
    right: 25px !important;
}

.nav-item>a>.fa {
    font-size: 20px !important;
}

@media (max-width: 360px) {
    .mobile-nav ul li a span {
        font-size: 10px !important;
    }
    .navUL li {
        padding: 0 6px !important;
    }
    .nav-item>a>.fa {
        font-size: 15px !important;
    }
    .navUL .nav-item>a {
        padding: 9px 0px !important;
    }
}

.nav-item .dropdown-header-top.author-log li a {
    padding: 8px 8px;
    display: block;
    font-size: 12px;
    word-wrap: break-word !important;
    font-weight: 700;
}

.nav-item .dropdown-header-top.author-log li .author-log-ic {
    margin-right: 10px;
}

.open>ul.dropdown-menu {
    /*padding: 0 20px !important;*/
    /*width: 100% !important;*/
    width: 15% !important;
    /*left: 0px !important;*/
    top: inherit !important;
    float: right !important;
}

.open>ul.dropdown-menu .nav-item {
    float: none !important;
}

.mobile-nav ul li a span {
    font-size: 1.3rem;
    font-weight: bold;
}

header input {
    display: none;
}

header label {
    /*top: 0;
						left: 0;*/
    /*width: 32px;*/
    color: #333333;
    height: 60px;
    cursor: pointer;
    font-size: 45px;
    line-height: 35px;
    font-family: serif;
    position: absolute;
    padding-left: 0 !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header .click {
    top: 22px;
    left: 60px;
    color: #fff;
    float: left;
    font-size: 12px;
    position: absolute;
}

.mobile-check:checked~label {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.mobile-check:checked~.mobile-nav {
    /*height: 42px;*/
    height: auto;
}

.mobile-nav {
    width: 100%;
    height: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

/*.navUL {
			width: 100%;
			padding: 0;
			list-style: none;
			background-color: #eaeaea;
			border-bottom: 1px solid #32175a;
			min-height: 41px;
		}*/

.dropdown-menu {
    float: right !important;
    right: 0 !important;
    /*width: 35%;*/
    position: relative;
    background-color: #fff;
    border: none;
    padding: 5px 15px;
}

.notification-author {
    margin-top: -40px;
}

.languge-wrap {
    margin-top: -40px;
}

.navUL {
    width: 15%;
    padding: 0px 0;
    list-style: none;
    background-color: #fff;
    /*border-bottom: 1px solid #ccc;*/
    min-height: 41px;
    float: right;
    text-align: center;
    -moz-box-shadow: 5px 5px 5px 6px #cecccc;
    -webkit-box-shadow: 5px 5px 5px 6px #cecccc;
    box-shadow: 5px 1px 8px 6px #cecccc;
    margin-top: 1px;
    margin-bottom: 16px;
    border-radius: 3px;
}

.navUL .nav-item {
    /*float: right;*/
    /*padding: 0 14px;*/
    display: block;
    /*height: 40px;*/
}

.nav-item>a {
    width: 100%;
    display: inline-block;
    padding: 9px 14px;
    color: #525151;
    line-height: 18px;
    text-decoration: none;
}

.mobile-nav ul li a:hover {
    /*background: #e9f2fb;*/
}

.mobile-logo {
    text-indent: -9999px;
}

.fa-gears {
    /*color: #ce4e03 !important;*/
    color: #333333 !important;
}

.fa-globe {
    /*color: #03a9f4 !important;*/
    color: #333333 !important;
}

.fa-link {
    /*color: #314dda !important;*/
    color: #333333 !important;
}

.fa-bell-o {
    /*color: #d4b20d !important;*/
    color: #333333 !important;
}

.fa-tasks {
    /*color: #9545ec !important;*/
    color: #333333 !important;
}

.author-project-icon {
    color: #068622 !important;
}

@media (min-width: 1024px) {
    /*.dropdown-menu{
		position: absolute !important;
		left: 69% !important;
		right
	}*/
    .navUL {
        width: 12% !important;
    }
    .open>ul.dropdown-menu {
        /*width: 75% !important;
		margin-top: -10% !important;*/
        width: 22% !important;
        margin-top: -10% !important;
        float: right;
        right: 0 !important;
        left: 68%;
    }
    /*.dropdown-menu {
		float: right !important;
		right: 0 !important;
		width: 22%;
		position: absolute;
		background-color: #fff;
		border: none;
		padding: 5px 15px;
		z-index: 999999999;
		left: 68%;
		margin-top: 10% !important;
	}*/
    .dropdown-menu {
        float: right !important;
        right: 0 !important;
        width: 22%;
        position: relative;
        background-color: #fff;
        border: none;
        padding: 5px 15px;
        z-index: 999999999;
        top: 0;
        /*left: 68%;*/
        /*margin-top: 10% !important;*/
    }
    .notification-author {
        width: 22% !important;
        margin-top: 10% !important;
        float: right;
        right: 0 !important;
        /*left: 68%;*/
    }
}

/***************PS added css for the header right side menu**************************/

@media (min-width: 1024px) and (max-width: 1024px) {
    .header-right-info .nav.custon-set-tab>li>a {
        color: #00446c !important;
    }
    .materialdesign .menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a,
    .materialdesign .menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a:focus,
    .materialdesign .menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a:hover .notes-img {
        color: #fff !important;
    }
}

/***************PS added css for the header right side menu end**************************/

@media (max-width: 768px) {
    .dropdown-menu {
        float: right !important;
        right: 0 !important;
        width: 75%;
        position: relative;
        background-color: #fff;
        border: none;
        padding: 5px 15px;
        z-index: 999999999;
        top: 0;
        min-width: 252px !important;
        /***************PS added css for the header right side menu**************************/
    }
    .nav-tabs>li {
        width: 98%;
        /***************PS added css for the header right side menu**************************/
    }
    .open>ul.dropdown-menu {
        width: 75% !important;
        margin-top: -10% !important;
        /*margin-top: -10% !important;*/
    }
    /*.notification-author {
		margin-top: 0px !important;
	}*/
    .languge-wrap {
        margin-top: 0px !important;
    }
    .navUL {
        width: 25%;
    }
    /*.navUL .nav-item {
			height: 35px;
		}*/
    .nav-item>a>.fa {
        font-size: 20px !important;
    }
    .label-for-check {
        right: 18px !important;
    }
}

/***************** AJS CODE FOR TOP HEADER END ******************/

/**********************PG added below css for member side change new 14.12.2022*********************************************/

.panel-default>.panel-heading {
    background-color: #fff !important;
    border-bottom: 3px solid #ca9024;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.panel-title {
    color: #000 !important;
}